<!--story.html-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="'강한 용사, '+${name} + '의 전설'"></h1>
    <h4 th:text="${name} + ', 그는 전설적인 인물로, 그의 영웅적인 이야기는 다양한 이야기로 전해지고 있습니다. 다음은 그의 일부 영웅담 중 하나인 \'용의 심장을 찾아서\'라는 이야기를 들려드리겠습니다.'">no echo</h4>
    <p th:text="'한 때 옛날 '+ ${name}+'은 모든 민족들이 평화롭게 살았던 땅에서 가장 용맹하고 무모한 용사였습니다. 어느 날 그는 온 마을이 고통받고 있는 것을 알게 되었습니다. 신비한 용의 심장이 사라진 것입니다. 이 심장은 마을의 번영과 안전을 담당하는 힘이었습니다.'">no echo</p>
    <p th:text="'그는 그 심장을 찾아 나섰습니다. 그리고 여행 도중 한 노인을 만났습니다. 그는 이야기를 들은 후 그에게 도움을 주겠다고 말했습니다. 노인은 그에게 마법의 검을 선물했고, 그 검은 힘이 깃들어 있었습니다.'">no echo</p>
    <p th:text="'그는 마을을 지나며 여러 어려움을 겪었지만, 그의 무모한 용기와 검의 힘으로 모든 장애물을 극복해 나갔습니다. 그의 여정은 멀고 험난했지만, 그는 결코 포기하지 않았습니다.'">no echo</p>
    <p th:text="'마침내 그는 심장을 숨겨둔 동굴에 도착했습니다. 그곳에서 그는 거대한 용과 마주쳤습니다. 그는 그 검의 힘과 용감함으로 용과 싸웠고, 결국에는 용을 물리쳤습니다. 그리고 용의 심장을 되찾아 마을로 돌아갔습니다.'">no echo</p>
    <p th:text="'그는 용의 심장을 되찾아 마을을 구원했습니다. 그의 용기와 헌신은 전설로 전해지며, 그는 민중들의 영웅으로 기리어졌습니다.'">no echo</p>
    <p th:text="'이야기는 그가 마을에 평화를 되찾았고, 그의 영웅적인 행동으로 많은 사람들의 존경을 받았다는 결말로 마무리됩니다. 이는 그의 용감한 모험과 그의 마음의 힘을 강조하는 이야기입니다.'">no echo</p>
</body>
</html>
